body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  color: #000;
  background: #F5F8FF;
  /* background: #f5f7ff; */
  line-height: 1.6;
}

a {
  text-decoration: none;
}

.btn {
  background: #3d5afe;
  color: white;
  padding: 10px 20px;
  border: none;
  display: inline-block;
  border-radius: 5px;
}
.btn:hover {
  background: #f4d642;
  color: rgb(0, 0, 0);
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 80px;
  /* background: #fff; */
  position: sticky;
  top: -20;
  /* z-index: 1000; */
}

.logo {
  font-weight: bold;
  color: #3d5afe;
  font-size: 20px;
}

.hero {
  text-align: center;
  padding: 0px 20px 100px;
  background: url('Assets/Hero-bg.png') center center/cover no-repeat;
}

.hero h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

.preview {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 60px 20px;
}

.preview .text {
  max-width: 400px;
}

.preview-img {
  max-width: 400px;
  margin-top: 20px;
  border-radius: 40px;
}

.stats {
  text-align: center;
  background: #E5E7FF;
  padding: 30px 20px;
  width: 80%;
  margin: auto;
  border-radius: 20px;
}
.stat-box {
  display: flex;
  justify-content: space-around;
  /* margin-top: 30px; */
}

.stat-box div h2 {
  font-size: 40px;
  color: #3d5afe;
  margin: 0px;
}

.stat-box p {
  margin-top: 0px;
}
.testimonials {
  padding: 60px 20px;
  /* background: #fff; */
  text-align: center;
}
.testimonials .name {
  display: flex;
}
.testimonials .name img{
  display: flex;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.reviewer{
  margin: 0px 0px 0px 10px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  justify-items: left;
  background: #f8f9ff;
  border-radius: 10px;
  padding: 20px;
  width: 280px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

.stars {
  color: gold;
}

.focus {
  padding: 60px 20px;
  background: #fff;
  text-align: center;
  width: 80%;
  margin: auto;
  border-radius: 14px;
}

.focus-img {
  width: 90%;
  max-width: 600px;
  margin-top: 30px;
  border-radius: 30px;
}

.contact {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 60px 20px;
  flex-wrap: wrap;
}

.contact-text h2 {
  font-size: 2em;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 400px;
  width: 100%;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1em;
}

.footer {
  text-align: center;
  padding: 40px 20px;
  background: #fff;
}

.logo-2{
    font-weight: bold;
    color: #3d5afe;
    font-size: 70px;
    margin: 0;
}
.footer-nav {
  margin-top: 10px;
}

.footer-nav a {
  margin: 0 10px;
  color: #333;
}
